<li class="nav-item">
  <%= link_to 'Prijava', new_user_session_path, class: "nav-link #{ display_active_class(new_user_session_path) }"%>
</li>
<li class="nav-item">
  <%= link_to 'Registracija', new_user_registration_path, class: "nav-link #{ display_active_class(new_user_registration_path) }"%>
</li>
